<div class="container">
    <div class="row">
        <div class="col" style="text-align:center">
             <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="name">Name</span>
                </div>
                <input type="string" class="form-control" aria-describedby="name" [(ngModel)]="budjot.name">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="income">Income</span>
                </div>
                <input type="number" class="form-control" aria-describedby="income" [(ngModel)]="budjot.income">
            </div>
        </div>
        <div class="col-sm">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="expenditure">Expenditure</span>
                </div>
                <input type="number" class="form-control" aria-describedby="expenditure" readonly [(ngModel)]="budjot.expenditure">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="paid">Paid</span>
                </div>
                <input type="number" class="form-control" aria-describedby="paid" readonly [(ngModel)]="budjot.paid">
            </div>
        </div>
        <div class="col-sm">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="remaining">Remaining</span>
                </div>
                <input type="number" class="form-control" aria-describedby="remaining" readonly [(ngModel)]="budjot.remaining">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="credit">Credit</span>
                </div>
                <input type="number" class="form-control" aria-describedby="credit" readonly [(ngModel)]="budjot.credit">
            </div>
        </div>
    </div>
    <div class="row no-gutters">
        <div class="col"><b>Name</b></div>
        <div class="col align-items-start"><b>Amount</b></div>
        <div class="col-1" style="text-align:center"><b>Paid?</b></div>
        <div class="col-1"></div>
    </div>
    <div class="row no-gutters" *ngFor="let budjotEntry of budjot.entries; index as i">
        <div class="col"><input type="text" class="form-control" [(ngModel)]="budjotEntry.name"></div>
        <div class="col"><input type="number" class="form-control" [(ngModel)]="budjotEntry.amount"></div>
        <div class="col-1"><input type="checkbox" class="form-control" [(ngModel)]="budjotEntry.paid"></div>
        <div class="col-1"><button class="btn btn-danger btn-sm" (click)="delete(i)">-</button></div>
    </div>
    <hr>
    <div class="row no-gutters">
        <div class="col"><input type="text" class="form-control" [(ngModel)]="newEntry.name"></div>
        <div class="col"><input type="number" class="form-control" [(ngModel)]="newEntry.amount"></div>
        <div class="col-1"><input type="checkbox" class="form-control" [(ngModel)]="newEntry.paid"></div>
        <div class="col-1"><button (click)="add()" class="btn btn-success btn-sm">+</button></div>
    </div>
    <br>
    <div class="row">
        <div class="col" style="text-align:center">
            <button (click)="save()" class="btn btn-primary">Save</button>
            <button class="btn btn-secondary" data-toggle="modal" data-target="#cancelModal">Cancel</button>
        </div>
    </div>
</div>
<div class="modal fade" id="savedModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{savedModalTitle}}</h5>
            </div>
            <div class="modal-body">
                {{savedModalBody}}
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>
<button hidden id="openSavedModal" data-toggle="modal" data-target="#savedModal">Open Saved Modal</button>
<div class="modal fade" id="cancelModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Are you sure?</h5>
            </div>
            <div class="modal-body">
                Are you sure you want to cancel? Any un-saved changes will be lost.
            </div>
            <div class="modal-footer">
                <a routerLink="/list"><button data-dismiss="modal" class="btn btn-primary">Yes</button></a>
                <button class="btn btn-secondary" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>

