<div class="container">
    <div class="row">
        <div class="col">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Created</th>
                        <th>Modified</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let budjot of budjots" (click)="openBudjot(budjot)">
                        <td>{{budjot.name}}</td>
                        <td>{{budjot.createdOn | date}}</td>
                        <td>{{budjot.modifiedOn | date}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a routerLink="/edit/new"><button class="btn btn-primary">New</button></a>
        </div>
    </div>
</div> 


