<div class="container">
    <div class="row">
        <div class="col" style="text-align:center;"><h2>Budjot: a simple budgeting tool to help you jot down your finances!</h2></div>
    </div>
    <div class="row align-items-center">
        <div class="col-sm"></div>
        <div class="col-sm-auto">
            <ul>
                <li>Simple, uncomplicated, everyday budgeting;</li>
                <li>Keep track of all the bills and expenses you have throughout the month;</li>
                <li>Understand what you've paid and what you haven't, so that you don't overspend.</li>
            </ul>
        </div>
        <div class="col-sm"></div>
    </div>
    <hr>
    <div class="row align-items-center">
        <div class="col">
            <img src="assets\list.png" class="img-fluid">
        </div>
        <div class="col">
            <ul>
                <li>Create a budget for every month;</li>
                <li>Copy previous months;</li>
                <li>See all your budgets in one place.</li>
            </ul>
        </div>
    </div>
    <hr>
    <div class="row align-items-center">
        <div class="col">
            <span>
            <ul>
                <li>Create new budgets by entering your income;</li>
                <li>Keep track of what bills you need to pay.</li>
            </ul>
            </span>
        </div>
        <div class="col">
            <img src="assets\edit.png" class="img-fluid"/>
        </div>
    </div>
    <hr>
    <div class="row align-items-center">
        <div class="col">
            <img src="assets\details.png" class="img-fluid">
        </div>
        <div class="col">
            <ul>
                <li>See your total expenditure;</li>
                <li>Mark bills as paid;</li>
                <li>See how much should be left in your bank account.</li>
            </ul>
        </div>
    </div>
    <hr>
</div>
