<div class="container">
    <div class="row">
        <div class="col" style="text-align:center">
            <h2><u>{{budjot.name}}</u></h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="income">Income</span>
                </div>
                <input type="number" class="form-control" aria-describedby="income" [(ngModel)]="budjot.income">
            </div>
        </div>
        <div class="col-sm">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="expenditure">Expenditure</span>
                </div>
                <input type="number" class="form-control" aria-describedby="expenditure" readonly [(ngModel)]="budjot.expenditure">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="paid">Paid</span>
                </div>
                <input type="number" class="form-control" aria-describedby="paid" readonly [(ngModel)]="budjot.paid">
            </div>
        </div>
        <div class="col-sm">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="remaining">Remaining</span>
                </div>
                <input type="number" class="form-control" aria-describedby="remaining" readonly [(ngModel)]="budjot.remaining">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="credit">Credit</span>
                </div>
                <input type="number" class="form-control" aria-describedby="credit" readonly [(ngModel)]="budjot.credit">
            </div>
        </div>
    </div>
    <div class="row no-gutters">
        <div class="col"><b>Name</b></div>
        <div class="col align-items-start"><b>Amount</b></div>
        <div class="col-1" style="text-align:center"><b>Paid?</b></div>
        <div class="col-1"></div>
    </div>
    <div class="row no-gutters" *ngFor="let budjotEntry of budjot.entries; index as i">
        <div class="col"><input type="text" class="form-control" [(ngModel)]="budjotEntry.name"></div>
        <div class="col"><input type="number" class="form-control" [(ngModel)]="budjotEntry.amount"></div>
        <div class="col-1"><input type="checkbox" class="form-control" [(ngModel)]="budjotEntry.paid"></div>
        <div class="col-1"><button class="btn btn-danger btn-sm" (click)="delete(i)">-</button></div>
    </div>
    <hr>
    <div class="row no-gutters">
        <div class="col"><input type="text" class="form-control" [(ngModel)]="newEntry.name"></div>
        <div class="col"><input type="number" class="form-control" [(ngModel)]="newEntry.amount"></div>
        <div class="col-1"><input type="checkbox" class="form-control" [(ngModel)]="newEntry.paid"></div>
        <div class="col-1"><button (click)="add()" class="btn btn-success btn-sm">+</button></div>
    </div>
    <br>
    <div class="row">
        <div class="col" style="text-align:center">
            <button (click)="save()" class="btn btn-primary">Save</button>
            <a routerLink="/list"><button class="btn btn-secondary">Cancel</button></a>
        </div>
    </div>
</div>
